/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* div{
	border: 1px solid grey;
} */
html {
	font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
body {
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
}
header {
  padding-bottom: 55px;
  overflow: hidden;
  color: #fff;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.forminput {
	display: none;
}
section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
  overflow: hidden;
}
h1 {
  position: relative;
  display: inline-block;
  padding: 17px 34px;
  font-size: 2.250em;
  line-height: 166%;
  font-weight: bold;
  box-sizing: border-box;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2.250em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 60px;
}

/* -------------- */
.header__bg {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center -20px;
  /* margin: 0 auto; */
  z-index: 2;
}
.header__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 241px;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.85) 0%, rgba(51, 51, 51, 0) 100%);
  z-index: -1;
}
.blue-bg::after {
  content: '';
  position: absolute;
  top:0;
  left: -325px;
  height: 100%;
  width: 77%;
  background: rgba(21, 43, 75, 0.8);
  transform: skew(-39deg);
  z-index: -1;
}
.header__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* width: 430px; */
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__top-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__top-desc {
  width: 220px;
  margin-left: 5px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
  letter-spacing: -0.4px;
  font-weight: 500;
  /* color: #fff; */
}
.header__top-button {
  color: #2E466A;
  background-color: #FFD800;
  padding: 20px 33px;
  border-radius: 5px;
  font-weight: 900;
  text-decoration: none;
  font-size: 0.938em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: all 0.2s;
}
.header__top-button:hover {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.9);
}
.header__top-phone,
.header__top-link-form,
.footer__phone,
.footer__link-form {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.header__top-phone,
.footer__phone {
  font-size: 2.063em;
  margin-bottom: 11px;
}
.header__top-link-form,
.footer__link-form {
  font-size: 1em;
}
.header__top-phone:hover,
.header__top-link-form:hover,
.footer__phone:hover,
.footer__link-form:hover {
  color: #FFD800;
  transition: all 0.2s;
}
.header__main-wrap {
  position: relative;
  padding-top: 90px;
  display: flex;
  justify-content: space-around;
}
.header__main {
  width: 628px;
}

h1::before,
h1::after {
content: '';
position: absolute;
width: 283px;
height: 50px;
background-image: url('../img/border-header.svg');
background-size: 283px;
background-repeat: no-repeat;
}
h1::before {
top: 0;
left: 0;
}
h1::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
.header__main ul {
  margin-left: 125px;
  margin-top: 35px;
  font-size: 1.500em;
  list-style: none;
}
.header__main ul li{
  margin-bottom: 27px;
  position: relative;
  padding-left: 50px;
}
.header__main ul li::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 28px;
  background-image: url('../img/li-item.svg');
  background-repeat: no-repeat;
  background-size: 30px;
}
.form__header {
  /* margin-top: 15px; */
  margin-top: 25px;
}
.form-const {
  width: 375px;
  height: 385px;
  background: rgba(255, 255, 255, 0.85);
  border: 3px solid #FFD800;
  border-radius: 10px;
  color: #000;
  padding: 62px 38px;
  text-align: center;
  box-shadow: 0px 0px 53px rgba(0, 0, 0, 0.3);
}
.form-main__title {
  font-size: 1.500em;
  line-height: 160%;
  margin-bottom: 51px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  width: 304px;
  height: 47px;
  margin-bottom: 51px;
  padding-left: 65px;
  font-weight: 300;
  font-size: 1.125em;
  background: #FFFFFF;
  border: 1px solid #FFD800;
  box-sizing: border-box;
  border-radius: 5px;
  /* padding: 10px 60px; */
  padding-bottom: 2px;
}
.button {
  display: inline-block;
  width: 223px;
  height: 45px;
  background: #FFD800;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 0.875em;
  color: #242424;
  border-radius: 5px;
  transition: all 0.1s;
}
/* .button__form {
  padding: 9px 26px 10px 26px;
} */
.button__form:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}
.button__form:active {
  transform: translateY(0px);
  box-shadow: none
}

/* --------------- */
.why {
  background: #FFFEF8;
}

.why__title {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 90px;
  text-align: center;
}
.why__title::before {
  position: absolute;
  content: '';
  width: 394px;
  height: 6px;
  left: calc(50% - 197px);
  bottom: 0;
  background-color: #FFD800;
}
.why__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.why__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 355px;
  height: 237px;
  padding: 40px 15px 15px 15px;
  background: #FFFEF8;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 75px;
}
.why__item::before {
  content: '';
  position: absolute;
  top: -37px;
  left: 113px;
  width: 130px;
  height: 77px;
  background-image: url('../img/why-item.svg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-color: #FFFEF8;
  background-position: center top;
}
.why__item-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.438em;
  text-transform: uppercase;
  color: #232323;
  line-height: 150%;
  /* margin-bottom: 44px; */
}
.why__item-desc {
  font-size: 1.125em;
  line-height: 150%;
  text-align: center;
  color: #000000;

}

/* ---------------- */
.border {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  
}
.border::before,
.border::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 22px;
  background-size: 150px;
  background-repeat: no-repeat;
}

.border::before {
  top: 0;
  left: 0;
}

.border::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
.border-gray {
  color: #000000;
}
.border-gray::before,
.border-gray::after {
  background-image: url('../img/border-gray-section.svg');
}
.border-yellow {
  color: #ffffff;
}
.border-yellow::before,
.border-yellow::after {
  background-image: url('../img/border-yellow-section.svg');
}

/* ---------------- */
.types-roof {
  border-top: 1px solid #a8a8a8;
  /* border-bottom: 1px solid #000; */
}

.types__wrap {
  max-width: 1440px;
  margin: 0 auto;
}
.types__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.types__item {
  margin: 5px;
  position: relative;
  width: 459px;
  height: 272px;
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
}
.types__item:hover,
.types__item:active,
.types__item:focus {
  box-shadow: 0px 0px 30px #000000d6;
  transform: scale(1.05);
  z-index: 2;
}
/* .types__item-img {
  width: 459px;
  height: 272px;
  overflow: hidden;
} */
.types__item-img img {
  width: 100%;
}
.types-desc__wrapper {
  position: absolute;
  bottom:30px;
  left: 0;
  width: 100%;
  right: 0;
  display: flex;
  justify-content: center;
}
.types__item-desc {
  /* position: relative; */
  display: inline-block;
  padding: 15px 25px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
}
.types__item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------- */
.best-roof__bg {
  background-image: url('../img/best-roof-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 1;
}
.best__wrap {
  display: flex;
  justify-content: space-between;
}
.best__main {
  max-width: 589px;
}
.best__main-desc {
  width: 430px;
  /* margin-left: 40px; */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  font-size: 1.125em;
  line-height: 150%;
  font-weight: 300;
  padding: 21px 25px;
}
.best__main-form {
  margin-top: 35px;
  margin-bottom: 40px;
}

/* ---------------- */
.completed-work {
  position: relative;
  z-index: 1;
}
.completed__wrap {
  position: relative;
}
.white-bg::before {
  content: '';
  position: absolute;
  top:0;
  left: 304px;
  height: 100%;
  width: 38%;
  background: #fff;
  transform: skew(-39deg);
  z-index: 0;
}
.roof-red-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/section-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(201, 86, 86, 0.07);
  background-position: top right;
  z-index: -1;
  opacity: 0.15;
}
.roof-gray-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-image: url('../img/section-bg-1.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background: rgba(21, 43, 75, 0.03);
  /* background-position: top right; */
  z-index: -1;
  /* opacity: 0.15; */
}
.white-bg--skew::before {
  transform: skew(39deg);
  left: 238px;
}
.white-bg--l::before {
  left: 238px;
}
div.completed-work>div:nth-child(1)>div:nth-child(1) {
  padding-top: 45px;
  padding-bottom: 45px;
}





.completed__wrap h2 {
  margin-bottom: 70px;
}
.work-slider__wrap {
  position: relative;
}
.completed__item {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 90px; */
  background: rgba(255, 216, 0, 0.19);
  border-radius: 10px;
  padding: 19px;
}
.completed__item--gray {
  background: rgba(2, 37, 87, 0.19);
}
div.completed__item:nth-child(3) {
  margin-bottom: 50px;
}

.completed__item-slider {
  width: 628px;
  height: 465px;
  background-color: #fff;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.completed__item a{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.completed__item-desc {
  width: 448px;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: rgba(255, 255, 255, 0.7); */
  /* border: 3px solid #CFCFCF; */
  box-sizing: border-box;
  /* border-radius: 5px; */
  padding: 57px 53px;
}
.completed__item-desc ul li {
  padding-bottom: 27px;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 140%;
  color: #2E466A;
}
.completed__item-desc h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.625em;
  line-height: 84%;
  color: #2E466A;
}
.completed__item-desc span {
  color:#C95656;
}
.next-arrow,
.prev-arrow {
  position: absolute;
  display: block;
  top: calc(50% - 28px);
  width: 30px;
  height: 56px;
  background-image: url('../img/arrow-slide.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  opacity: 0.5;
}
.next-arrow {
  right: -40px;
  transform: rotate(180deg);
}

.prev-arrow {
  left: -40px;
}
.next-arrow:hover,
.prev-arrow:hover {
  opacity: 1;
}

/* ----------------- */
.services-bg {
  background-image: url('../img/section-services-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.services__item {
  position: relative;
  width: 345px;
  height: 492px;
  /* background: #FFFFFF; */
  /* border: 1px solid #000000; */
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  /* cursor: pointer; */
  transition: all 0.2s;
}
.services__item:hover {
  box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.84);
  transform: translateY(-5px);
}
.services__item ul li {
  list-style: none;
}
.services__item-img {
  position: relative;
  width: 100%;
  height: 346px;
  max-height: 226px;
  /* border-radius: 10px 10px 0 0; */
  overflow: hidden;
}
.services__item-img img{
  width: 100%;
}
.services__img-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  font-weight: bold;
  font-size: 1.375em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.services__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button__main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 223px;
  height: 45px; */
  /* padding: 12px 41px 13px 41px; */
  border-radius: 3px;
  font-size: 0.938em;
  /* text-transform: uppercase; */
}
.services__item ul li {
  font-size: 1.125em;
  color: #000000;
  padding-bottom: 6px;
}
.services__item-main {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 266px;
}
.services__price {
  font-weight: 500;
  font-size: 1.875em;
  padding-bottom: 16px;
}
.services-slider {
  width: 98%;
  height: 520px;
}
.services .slick-slide {
  padding: 17px;
}
.services .slick-list {
  padding-left: 17px;
}
.services .slick-prev,
.services .slick-next {
  background-image: url('../img/arrow-slide-service.svg');
}

/* ---------------- */

/* .section-roof__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background: #fff;
  transform: skew(-39deg);
  z-index: 0;
} */

/* .completed-work__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/section-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(201, 86, 86, 0.07);
  background-position: top right;
  z-index: -1;
  opacity: 0.1;
} */

.calc-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 200px 0;
}
.button__calc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 597px;
  height: 96px;
  font-weight: bold;
  font-size: 1.500em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* line-height: 84%; */
  /* color: #000000; */
}
.button__calc:hover {
  transform: scale(1.02);
}
.calculation::before {
  left: 70px;
  width: 50%;
}

/* --------------- */
.how-work {
  background: #FFFEF8;
  border-top: 1px solid #a8a8a8;
}
.how__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.how__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 273px;
  height: 154px;
  margin: 30px;
  padding: 20px 10px 20px 10px;
  background: rgba(21, 43, 75, 0.8);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1;
}
.how__item::before {
  position: absolute;
  content: '';
  top: -81px;
  left: -31px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 170px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.21);
  z-index: -1;
}
.how__item:nth-child(1)::before {
  content: '1';
}
.how__item:nth-child(2)::before {
  content: '2';
}
.how__item:nth-child(3)::before {
  content: '3';
}
.how__item:nth-child(4)::before {
  content: '4';
}
.how__item:nth-child(5)::before {
  content: '5';
}
.how__item:nth-child(6)::before {
  content: '6';
}
.how__item-title {
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
  color: #FFD800;
}
.how__item-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.063em;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

/* ----------------- */
.answers {
  position: relative;
}
.answers__wrap {
  position: relative;
  z-index: 2;
}
.answers__tabs {
  width: 60%;
  margin-left: 20px;
}
.answers-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../img/section-answer.jpg');
  background-repeat: no-repeat;
  background-position: center -176px;
  background-size: cover;
  z-index: 1;
  opacity: 0.5;
}
.answers-bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: RGBA(21, 43, 75, 0.85);
  z-index: 1;
}
.ans-wrap {
  display: flex;
  justify-content: space-between;
}
.accordion {
  position: relative;
  margin-bottom: 15px;
  padding: 15px 10px 15px 70px;
  font-size: 1.563em;
  line-height: 30px;
  /* font-weight: 600; */
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.accordion::before {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  left: 12px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}

.accordion::after {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 23px;
  width: 18px;
  height: 18px;
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rotate::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.accordion-content {
  position: relative;
  background-color: transparent;
  padding: 0 72px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  color: #fff;
  font-size: 1.375em;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 15px;
}
.answers .form-const {
  padding: 33px 38px;
}
.answers__form-wrap {
  width: 375px;
  margin-top: -30px;
}
.answers__title {
  font-weight: bold;
  font-size: 1.500em;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #FFD800;
  padding-bottom: 10px;
}

/* ----------- */
.advantages__title-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 90px;
}
.advan__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advan__item {
  position: relative;
  width: 280px;
  height: 212px;
  padding: 65px 15px 15px 15px;
  background: rgba(21, 43, 75, 0.85);
  border: 1px solid #7E7E7E;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.063em;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFEF99;
}
.advan__item::before {
  position: absolute;
  top: -26px;
  right: 0;
  content: '';
  width: 108px;
  height: 82px;
  background-image: url('../img/advan-ok.svg');
  background-repeat: no-repeat;
  background-size: 108px;
}
.advantages h2 {
  margin-bottom: 10px;
}
/* -------------- */
.contact .container-fluid {
  position: relative;
}
.contact__map-wrap {
  width: 100%;
  height: 473px;
}
.contact__contact-form {
  position: relative;
  width: 315px;
  height: 357px;
  padding: 70px 20px 15px 20px;
  background: rgba(16, 23, 40, 0.87);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 1.000em;
  line-height: 191%;
  text-align: center;
  color: #FFFFFF;
}
.contact__contact-form::before {
  position: absolute;
  top: 19px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  content: '';
  background-image: url('../img/map-point.svg');
  background-repeat: no-repeat;
  background-size: 40px;

}
.contact__contact-form a {
  display: inline-block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFD800;
  text-decoration: none;
  margin-bottom: 15px;
}
.contact__contact-form a:hover {
  color: #fff;
}
.contact__contact-form>p:nth-child(1) {
  margin-bottom: 25px;
}
.contact__contact-wrap {
  position: relative;
  /* margin-top: -406px; */
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 57px;
  left: calc(50% + 200px);
}
/* .contact__contact-form {
  position: absolute;
  top: 0;
  right: 0;
} */

/* ------------ */
footer {
  background-color: #263449;
  padding: 40px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.footer-contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 374px;
}
.footer__logo {
  width: 140px;
}
.footer__logo img {
  width: 100%;
}
.footer__logo-desc {
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
}
.footer__contact a{
  display: block;
  text-align: end;
}
.footer__buttom {
  text-align: center;
  font-size: 0.875em;
  line-height: 16px;
  color: #FFFFFF;
}
.footer__buttom>p:nth-child(1) {
  padding-bottom: 10px;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-vb,
.s-wh {
  display: block;
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.1s;
}
.s-vb {
  background-image: url('../img/vb.svg');
}
.s-wh {
  background-image: url('../img/wh.svg');
  margin-right: 25px;
}
.s-vb:hover,
.s-wh:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
  animation: soc 0.8s linear infinite;
}
@keyframes soc {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
  }
  50%{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
  }
}
/* ----------------- */

.promo__wrap {
  width: 853px;
  height: 468px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(21, 43, 75, 0.8);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 35px 20px;
}
.promo__main-title,
.promo__main-footer {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.875em;
  line-height: 160%;
  text-align: center;
  color: #FFD800;
}
.promo__main-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.625em;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 28px;
}
.promo__main {
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.modal-content .form-main__title {
  margin-bottom: 0;
  text-align: center;
}
.modal-content .form-main__title:nth-child(2) {
  margin-bottom: 55px;
}
.fancybox-content {
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0px 0px 33px #000;
}
#hidden-promo{
  box-shadow: none;
  background-color: transparent;
}
#hidden-promo .fancybox-close-small {
  background-color: #fff;
  border-radius: 50%;
}
#hidden-promo .fancybox-close-small {
  right: 37px;
  top: 22px;
}